<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.erikcaffrey.oreilly_free_books">

  <uses-permission android:name="android.permission.INTERNET"/>
  <application
      android:name=".BooksApplication"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name="io.github.erikcaffrey.oreilly_free_books.ui.view.BooksActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <!--<provider-->
        <!--android:name="io.github.erikcaffrey.oreilly_free_books.di.AppInitProvider"-->
        <!--android:authorities="${applicationId}.io.github.erikcaffrey.oreilly_free_books"-->
        <!--android:exported="false"/>-->

  </application>

</manifest>